---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<script>
	document.querySelectorAll(".highlighter-rouge").forEach(pre => {
		// console.log(pre.textContent)
		pre.onclick = () => {
			navigator.clipboard.writeText(pre.textContent)
			.then(() => {
		    console.log('Text copied to clipboard');
		  })
		  .catch(err => {
		    // This can happen if the user denies clipboard permissions:
		    console.error('Could not copy text: ', err);
		  });
		}
	  
	})
	

</script>